boot.img
product/priv-app/Velvet/Velvet.apk
vendor/camera/mimoji/model2.zip
recovery.img
cust/app/customized/partner-com.ebay.mobile_49/partner-com.ebay.mobile_49.apk
cust/app/customized/partner-video.like_111/partner-video.like_111.apk
system/system/apex/com.android.vndk.current.apex
system_ext/priv-app/Settings/Settings.apk
