boot.img
product/priv-app/Velvet/Velvet.apk
vendor/camera/mimoji/model2.zip
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
system_ext/priv-app/Settings/Settings.apk
